[2018-06-14 18:54] MatthewChatham opened #1 "Use multiprocessing"
The script can operate in parallel on each page of 10 reviews.

In order to do this effectively, I should determine a good number of workers (probably 2-6) and assign each worker some subset of the total pages of reviews. So we need to compute the total number of pages of reviews. I have confirmed that there is a clear mapping between page number and URL, so we can send each worker to the appropri

[2018-12-12 12:58] bhavanal opened #4 "Helpful Count"
The scraping of helpful isnt working and is always returning 0 as the output as mentioned in the exception

[2018-12-13 08:59] MatthewChatham commented on #4
@bhavanal Can you provide more info about the exception you're seeing? Is it related to #3?

[2019-02-21 13:30] kiki-data opened #5 "not finding data on reviews pages"
Everything runs smoothly but it is not finding reviews for each page. It goes to each review page, but then reports 0 reviews found.

[2019-02-24 05:37] #5 closed

[2019-02-24 06:27] MatthewChatham commented on #5
@kiki-data did this get resolved?

[2019-02-24 12:51] kiki-data commented on #5
Yes, thanks! Problem was on my end.

I'm trying to scrape Hilton, but not getting the output .csv file so now working through that.

[2019-02-24 19:34] MatthewChatham commented on #5
Okay great. Please Continue to file issue reports as you encounter them so we can keep the script up to date! Thanks so much!

[2019-03-11 16:29] kranthikumar9625 opened #6 "Error"
I am getting the following error

TypeError: 'type' object is not iterable

for following the line of code

res = pd.DataFrame([], columns=Schema)

[2019-03-11 20:14] pyGideon opened #7 "TypeError: list indices must be integers or slices, not str"
Hi, I am getting below mentioned error while running "python main.py --headless -u https://www.glassdoor.co.in/Overview/Working-at-Tesla-EI_IE43129.11,16.htm -l 2300 -f tesla_reviews.csv"
I have already created Json file 'secret.json'

Traceback (most recent call last):
  File "main.py", line 90, in <module>
    args.username = d['username']
TypeError: list indices must be integers or slices, not

[2019-03-11 20:25] pyGideon commented on #7
I have saved secret.json file with the following content:
[
{
 "username": "value1",
 "password": "value2"
}
]
Let me know if any changes are required in this..

[2019-03-15 14:52] pyGideon commented on #6
Hi, can you let me know how did you defined username and password in json file secret(syntax) or how to pass username and password via command line because i am getting error when i use --username and -p in command line.. TIA

[2019-03-15 18:36] pyGideon commented on #7
Solved this error:
Don't use square brackets in json file as it was read as list, instead define as
{
"username": "value1",
"password": "value2"
}

[2019-03-15 18:36] #7 closed

[2019-03-20 12:47] NKoenig06 opened #8 "No Such Element Exception"
It's looking like there may have been element changes either in Selenium or on Glassdoor.

I'm not completely familiar with Selenium, so I was wondering if someone had seen this issue;

selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element: {"method":"tag name","selector":"p"}

[2019-03-20 23:04] julsto93 commented on #8
The issue seems to be that glassdoor throws another log-in at you. As a quick work-around I just set the sleep time to 40 seconds before this step and logged in manually, data extraction worked perfectly afterwards.
Always happens after the line:
browser.get(args.url)

[2019-03-21 00:33] NKoenig06 commented on #8
Interesting, it's not breaking there for me. I'm always getting to the following point:

- configuring browser
- Scraping up to 10 reviews
- Signing in to "username"
- Navigating to company reviews
- Extracting reviews from page 1
- Found 10 reviews on page 1

Then this error below. It seems to be saying it's not recognizing the method or selector. I made adjustments to the sleep time like you sug

[2019-03-21 10:26] julsto93 commented on #8
It could be that glassdoor only requests your login after you want to switch to the next page. But in my experience the important thing is, that you log in a second time before you start scratching. The first time referring to the scripted log-in.

[2019-03-21 18:05] MatthewChatham commented on #8
Hey all, sorry I don't have time to look into this right now. But it sounds like you're finding you're way pretty well!

Without having done any investigation, my guess is that Glassdoor changed either the HTML structure of the site or their login flow, which is causing these errors. If we can diagnose the precise cause and get a PR for it, I'll approve it!

[2019-03-24 11:42] pyGideon commented on #8
Hi NKoenig06, I was also facing this "selenium.common.exceptions.NoSuchElementException" error at times! In my experience with running this script you don't have to change sleep time(googling this error does show this type of solutions) or any part of the code instead just try after some time after closing everything out. For me it ran smoothly!!

[2019-03-24 11:43] pyGideon commented on #8
Let me know if you want to scrap reviews for a specific company and will share with you..

[2019-04-13 18:31] yihaozhadan opened #9 "Chrome web driver arg chrome_options is deprecated"
Chrome web driver arg **chrome_options** is deprecated. Please use "option" instead. For example, in main.py line 382, change to
[code]
Here is the reference [webdriver.py](https://github.com/SeleniumHQ/selenium/blob/master/py/selenium/webdriver/chrome/webdriver.py).

By the way, may I be a contributor to your repository?

[2019-04-13 19:34] mchatham-fk commented on #9
Hey @yihaozhadan, thanks for the suggestion! If you fork the repo, you can make a PR from your fork. Thanks!

[2019-04-16 17:58] ssoftcheck commented on #4
replace your selector with this
helpful = review.find_element_by_class_name(
                    'voteHelpful').find_element_by_class_name(
                            'count').find_element_by_tag_name('span')

[2019-04-21 16:50] liudi1025 commented on #9
Hi, after changing 'chrome_options' into 'options', I still encounter the problem with error message: "The application was unable to start correctly(0xc000007b)." I followed all the steps in the README.md. However, still not working here.

[2019-04-21 17:15] yihaozhadan commented on #9
@liudi1025
Did you download [ChromeDirver](http://chromedriver.chromium.org/)? When you check out the repository. It requires to put chromedriver.exe and your Glassdoor credential file under the root folder. The structure looks like:
[code]

[2019-04-21 17:24] liudi1025 commented on #9
Yes, I did include the ChromeDriver.

[2019-04-21 17:31] liudi1025 commented on #9
Now I am getting the error message as:

2019-04-21 13:30:18,740 INFO 377    :main.py(19096) - Configuring browser
Traceback (most recent call last):
  File "main.py", line 411, in <module>
    browser = get_browser()
  File "main.py", line 382, in get_browser
    browser = wd.Chrome(options=chrome_options)
  File "C:\Users\liudi\Anaconda3\lib\site-packages\selenium\webdriver\chrome\webdriver.py",

[2019-04-21 17:55] liudi1025 commented on #9
I got what happened here: there are two chrome.exe in my computer and the path direct me to the crashed version of chrome...
Thanks!@yihaozhadan

[2019-04-21 17:57] yihaozhadan commented on #9
@liudi1025
It's good to hear that. No problem.

[2019-04-24 14:23] mchatham-fk commented on #8
Hey folks, sounds like no one has been able to reproduce this? If so, I'll close the issue. Thanks!

[2019-04-24 14:24] MatthewChatham commented on #8
Sounds like this has not been able to be reproduced? If so I'll close the issue.

[2019-04-24 14:26] MatthewChatham commented on #9
@yihaozhadan can you please make a PR to update this? Thanks!

[2019-04-24 15:25] yihaozhadan commented on #9
@MatthewChatham Created [pull request](https://github.com/MatthewChatham/glassdoor-review-scraper/pull/11).

[2019-05-01 15:51] tomjneal commented on #8
I've experienced this same issue, but it's not always a problem. Doesn't seem to happen every time.

[2019-05-16 12:37] Michael1Scarn opened #13 "Syntax error?"
No matter what I do, I get this:

SyntaxError: invalid syntax
[script code]
  File "main.py", line 286
    logger.info(f'Extracting reviews from page {page[0]}')

I think I did everything I needed to, but still nothing changes. Thank you for help!

[2019-05-16 13:33] MatthewChatham commented on #13
@Michael1Scarn thanks for the report. What version of python are you using?

[2019-05-16 13:43] Michael1Scarn commented on #13
@MatthewChatham the default python on my Mac is 2.7

[2019-05-16 15:07] MatthewChatham commented on #13
Thanks @Michael1Scarn, please use Python 3 for this script. the f-string syntax wasn't available in earlier versions of Python. You can check out [this](https://realpython.com/python-f-strings/) link for more information.

[2019-05-31 20:11] wangrunzu opened #14 "pagingControls Error"
I got the following error about the paging control when I try to scrap the data.

python.exe main.py --headless --url "https://www.glassdoor.com/Reviews/W
almart-Reviews-E715.htm" --limit 100 -f test.csv
2019-05-31 15:06:49,643 INFO 377    :main.py(17796) - Configuring browser

DevTools listening on ws://127.0.0.1:50831/devtools/browser/8c7890e8-fe24-41f7-b77f-d22dae3f6c3e
2019-05-31 15:06:51,700

[2019-06-03 13:46] jhatamyar commented on #14
I am suddenly getting the exact same exception error using chromedriver 73.0.3683.6 on Mac OS X 10.13.6. The code was working 100% perfectly a few weeks ago. I am looking into `get_current_page()` as I'm curious if find_elements by class name or xpath might be the problem, but I am a total beginner with selenium. Hoping the author can help.

[2019-06-03 15:16] MatthewChatham commented on #14
Thanks folks, I may have time to look at this in the coming week. But if you're able to figure it out and make a PR to fix, I'll merge it!

[2019-06-05 17:47] tpizzle61 opened #15 "scrape_years not working"
I am getting the following error:

selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element: {"method":"tag name","selector":"p"}
  (Session info: headless chrome=74.0.3729.169)

I also tried .find_element_by_class_name('mainText') instead of .find_element_by_tag_name('p'), but still got the same error. Any ideas?

[2019-06-12 20:39] Drew2019 opened #16 "Generic Error when Trying to Run"
When try to run example data pull, the following error pops up - any ideas on syntax fix?

python main.py --headless --url "https://www.glassdoor.com/Overview/Working-at-Wells-Fargo-EI_IE8876.11,22.htm" --limit 1000 -f wells_fargo_reviews.csv
  File "<ipython-input-4-c7c6413d041a>", line 1
    python main.py --headless --url "https://www.glassdoor.com/Overview/Working-at-Wells-Fargo-EI_IE8876.11,2

[2019-06-12 21:16] mchatham-fk commented on #16
@Drew2019 my guess is that you ran the command in the Python interpreter instead of the command line. Open up a terminal and try running it again.

[2019-06-13 01:50] Drew2019 commented on #16
@MatthewChatham - much thanks for the fast reply. Yeah, I ran it in the editor of Spyder. Opening a terminal for Python 3.7, I'm still getting similar errors, though now with the "requirements.txt" command also. This is user error I'm sure, given I don't work in the Python language.

[2019-06-13 02:32] MatthewChatham commented on #16
@Drew2019 you need to run the commands from the command line, not the python terminal.

[2019-06-14 05:06] guoruijiao commented on #14
I'm seeing the exact same error as above. It would be great if this can be resolved.

[2019-06-26 13:02] heraldnithesh commented on #14
Hi, Is this resolved ?

[2019-06-27 18:17] iopsych opened #17 "No Such Element Exception"
Hi there...

I am also getting a no such element exception.  Mine is slightly different than what NKoenig06 reported in that it is "Unable to locate element: {"method": "css selector", "selector":".reviewBodyCell"}

I've tinkered around but can't seem to fix it.

[2019-07-08 09:21] batordavid commented on #14
Replacing some line of codes helped me.

Original (3 places in the codes):
paging_control = browser.find_element_by_class_name('pagingControls')
Updated:
paging_control = browser.find_element_by_css_selector('.eiReviews__EIReviewsPageContainerStyles__pagination.noTabover.mt')

Original (2 places in the codes):
next_ = paging_control.find_element_by_class_name('next')
Updated:
next_ = paging_contro

[2019-07-08 09:22] batordavid commented on #8
Replacing some line of codes helped me.

Original (3 places in the codes):
paging_control = browser.find_element_by_class_name('pagingControls')
Updated:
paging_control = browser.find_element_by_css_selector('.eiReviews__EIReviewsPageContainerStyles__pagination.noTabover.mt')

Original (2 places in the codes):
next_ = paging_control.find_element_by_class_name('next')
Updated:
next_ = paging_contro

[2019-07-20 15:47] BiggerSplash commented on #17
Same here ... I guess Glassdoor changed parts of the CSS structure...

[2019-07-23 17:20] hannahewha commented on #17
same here

[2019-07-23 17:20] hannahewha commented on #17
Can some one help?

[2019-07-24 06:38] nush12 commented on #17
same issue :-|

[2019-07-27 15:39] tsp2123 commented on #17
hi, just change 'reviewbodycell' to 'hreview' that's the new class name they're using. Alongside this issue you may have trouble with the navigation buttons. I'm just tinkering with Matt's code to see if I can get everything updated. I'll post when I'm done. If someone is more speedy, please share.

[2019-07-27 17:17] tsp2123 opened #19 "getting the pros and cons back"
Hey Matt, thanks for your help. I'm trying to tinker and get the pros and cons back and running with no real luck right now. Any help?

`
    def scrape_pros(review):
        try:
            pros = review.find_element_by_xpath('//*[@id="empReview_28156727"]/div/div[2]/div[2]/div[4]')
            expand_show_more(pros)
            res = pros.text.replace('\nShow Less', '')
        except Exception

[2019-07-28 08:20] #19 closed

[2019-07-28 08:26] tsp2123 commented on #14
Hey, so does anyone have an issue where they fix the paging_control options but it breaks later on? I'm trying to scrape around 30k worth of data. And the code keeps breaking for me on around p176. I used the following for paging_control

`
def more_pages():
    paging_control = browser.find_element_by_css_selector('.eiReviews__EIReviewsPageContainerStyles__pagination.noTabover.mt')
    next_ = pa

[2019-07-29 14:13] iopsych commented on #17
Admittedly - I know nothing about Python, but I spent some time with it and got it all working.  It required quite a bit of changes to the paging, the show more button, and a few other things using Xpath and Css selector code.

I'm also a big newbie to using Github.  But I uploaded the code under my repository.  Apologies if this wasn't the right way to do this.

[2019-07-29 20:36] tsp2123 commented on #17
@iopsych  do you find that your working code fucks up at any point? I sometimes have an issue where the scraper can run for about 15,000 reviews before I get a no such element exception. Even though, I've revised the paging, etc. and it was working before

[2019-07-30 01:49] iopsych commented on #17
@tsp2123 - I haven't run it for any large companies with so many ratings.  I will give it a shot and see how it goes.

[2019-07-31 19:27] SleepyGinger commented on #17
@iopsych thanks for the code! it works like a charm! last day at my job and possibly the last thing they asked from me and i delivered!!!

[2019-08-03 12:55] tpathrikatu commented on #17
when trying to run the code in the pros cons and advice to management cells I am getting: "Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet."

[2019-08-05 17:00] hanhan0123 opened #20 "another No Such Element Exception"
Hope this is not an existing issue.
I also have no such element exception error.
It seems like others got through the review extracting steps, but mine didn't. Can anyone help me with this? what should I do to fix this error?

Configuring browser
Scrapting up to 1000
Signing in
Navigating to company
Traceback (most recent call last):
  File "main.py", line 462, in <module>
    main()
  File "main.

[2019-08-06 11:27] Vineet-CSwiggy commented on #8
same issue here.. tied above all, not working yet..

[2019-08-06 13:49] jhatamyar commented on #17
@iopsych THANK YOU you are a lifesaver!! @tsp2123 I will keep this thread posted if I run into the issue you are having.

[2019-08-07 22:19] Titus7777 commented on #17
@iopsych Thank you for fixing and posting the revised code.  It works well except when it encounters the issue identified by @tsp2123 where scrapes on firms with larger numbers of reviews will capture hundreds of pages of reviews successfully and then terminate without saving after hitting a no such element error.  The error results from Glassdoor's Cloudflare DDoS protection popping up a dialog w

[2019-08-13 18:22] #20 closed

[2019-08-13 18:32] hanhan0123 commented on #17
@iopsych  Fixed problem I had. Thanks! But see different issue. Same as what others mentioned. It seems like it is not going to next page after 9 for me. I see reviews in page 8 in Glassdoor however it says Found 0 reviews on page 8. Also, I put --limit 500, but does it scraping more than 500? cuz 10*7 =700? scraped at least 700?

By the way, please let me know if you got to fix the code! or anyon

[2019-09-08 01:04] syang19 opened #22 "New error"
Dear Matthew,

Thank you very much for sharing. It is very helpful and quite easy to install.

I tried to run the sample code 1 that you provided but it gives me the following errors.

I ran with the command prompt and I am using Python 37. What do you think is causing the problem?

File "main.py", line 89, in <module>
    d = json.loads(f.read())
  File "C:\Users\shuoy\Anaconda3\lib\json\__init__

[2019-09-10 21:33] LioGabriella opened #23 "Gets first 10 reviews then I get this error"
Traceback (most recent call last):
  File "main.py", line 461, in <module>
    main()
  File "main.py", line 446, in main
    while more_pages() and\
  File "main.py", line 314, in more_pages
    paging_control = browser.find_element_by_class_name('pagingControls')
  File "C:\Users\GLio\AppData\Local\Programs\Python\Python37\lib\site-packages\selenium\webdriver\remote\webdriver.py", line 564, in f

[2019-09-10 21:39] LioGabriella commented on #23
Found answer in: https://github.com/MatthewChatham/glassdoor-review-scraper/issues/14 ..was able to fix the issue thank you

[2019-09-10 21:39] #23 closed

[2019-09-11 05:38] DuyVietNguyen opened #24 "JSONDecodeError"
Really hoping to use this scraper, but ran into an issue. Any suggestions?

[code]

[2019-09-11 15:45] #24 closed

[2019-09-11 15:50] DuyVietNguyen opened #25 "No Such Element Error"
I'm getting a no such element error that I don't know how to fix. Help please.

[code]

[2019-09-24 16:35] sachinchaturvedi93 commented on #25
def scrape_years(review):
        try:
            res = review.find_element_by_class_name('mainText').text.strip('"')
        except Exception:
            res = np.nan
        return res

Replace the scrape_years function by this function.

[2019-09-29 19:42] wenxin-lab commented on #9
Hi, I tried the code, and got this error:

2019-09-29 15:41:04,215 INFO 377    :main.py(10918) - Configuring browser
Traceback (most recent call last):
  File "main.py", line 412, in <module>
    browser = get_browser()
  File "main.py", line 382, in get_browser
    browser = wd.Chrome(options=chrome_options)
  File "/usr/local/var/pyenv/versions/anaconda3-2019.03/lib/python3.7/site-packages/selen

[2019-09-29 22:07] wenxin-lab opened #28 "version of ChromeDriver only supports Chrome version 78 But my chrome version is 78"
Hi, I tried the code, and got this error:

2019-09-29 15:41:04,215 INFO 377 :main.py(10918) - Configuring browser
Traceback (most recent call last):
File "main.py", line 412, in
browser = get_browser()
File "main.py", line 382, in get_browser
browser = wd.Chrome(options=chrome_options)
File "/usr/local/var/pyenv/versions/anaconda3-2019.03/lib/python3.7/site-packages/selenium/webdriver/chrome/webdr

[2019-10-02 04:25] wenxin-lab opened #29 "No such element error"
I have this error and dont know how to fix it.
Traceback (most recent call last):
  File "main.py", line 452, in <module>
    main()
  File "main.py", line 440, in main
    go_to_next_page()
  File "main.py", line 317, in go_to_next_page
    next_ = browser.find_element_by_xpath(".//li[@class='pagination__PaginationStyle__next']/a")
  File "/usr/local/var/pyenv/versions/anaconda3-2019.03/lib/pytho

[2019-10-02 14:42] wenxin-lab commented on #28
I fixed that, I change the chromedrive to 77 to match my chrome

[2019-10-02 14:42] #28 closed

[2019-10-13 22:27] JamesEConnor opened #30 "Missing License"
I would like to use this repo in a project of mine, but it's missing a license. This unfortunately limits my ability to use it. However, you also indicate that its usable as long as it is cited. Would you be able to add an official license to this repository to reflect that? Thank you very much!

[2019-10-15 17:58] madhuqmar commented on #29
i'm getting the same error

[2019-10-19 14:33] wenxin-lab opened #31 "Can I add new variable?"
Hello, I want to add some new variables in the scraped website, I know how to add related code in the main.py, but I dont know how to change the code in the schema.
This is the original schema:
B

    ûR›\<  „               @   s(   d ddddddddd	d
ddd
ddgZ dS )⁄dateZemployee_title⁄locationZemployee_status⁄review_titleZyears_at_company⁄helpful⁄pros⁄consZadvice_to_mgmtZrat

[2019-10-20 22:48] sachinchaturvedi93 commented on #29
`    next_ = browser.find_element_by_class_name(
        'pagination__PaginationStyle__next').find_element_by_tag_name('a')
    browser.get(next_.get_attribute('href'))`

[2019-10-28 07:18] nikhiljsk commented on #29
This guy updated the code. Check this repo. It works

https://github.com/iopsych/glassdoor-review-scraper

[2019-11-05 22:41] JamesEConnor commented on #30
While a license would be preferable, I realized that the disclaimer in the ReadMe seems to legally count as allowing other people to use it.

[2019-11-05 22:41] #30 closed

[2019-11-12 05:11] MatthewChatham commented on #30
@JamesEConnor added a license

[2019-11-21 14:33] beliakon opened #32 "NoSuchElementException - nable to locate element: {"method":"css selector","selector":"p"}"
### I have this error and don't know how to fix it.

python main.py --headless --url "https://www.glassdoor.com/Overview/Working-at-Wells-Fargo-EI_IE8876.11,22.htm" --limit 5 -f wells_fargo_reviews.csv
2019-11-21 16:21:07,264 INFO 377    :main.py(19772) - Configuring browser

DevTools listening on ws://127.0.0.1:54285/devtools/browser/45fc8723-9a20-498a-864e-5b4544f795ab
2019-11-21 16:21:09,710 IN

[2019-11-22 11:02] #32 closed

[2019-11-22 11:02] beliakon commented on #32
I was able to found similar solution in previous issue.

[2019-11-22 11:07] beliakon opened #33 "No such element: Unable to locate element: {"method":"css selector","selector":".next"}"
**I was not able to understand this issue. Would like to help me?**

DevTools listening on ws://127.0.0.1:49170/devtools/browser/91092bb7-fd9b-493e-814e-fece11203277
2019-11-22 12:57:28,971 INFO 423    :main.py(34780) - Scraping up to 15 reviews.
2019-11-22 12:57:28,993 INFO 361    :main.py(34780) - Signing in to blah@blah.com
2019-11-22 12:57:38,056 INFO 342    :main.py(34780) - Navigating to com

[2019-11-25 14:22] beliakon commented on #33
Hi all. I was able to fix it.
Please use this as paging_control.

`def more_pages():
paging_control = browser.find_element_by_css_selector('.eiReviews__EIReviewsPageContainerStyles__pagination.noTabover.mt')
next_ = paging_control.find_element_by_class_name('pagination__PaginationStyle__next')
try:
next_.find_element_by_tag_name('a')
return True
except selenium.common.exceptions.NoSuchElementExcep

[2019-11-26 14:17] beliakon opened #34 "Missing information on columns pros and cons"
Hi all. I was able to run successfully script, but the pros and cons columns is always empty. Do you know what is the reason behind it?

[2019-11-27 13:36] beliakon commented on #34
Please see this thread as solution to the topic - https://github.com/MatthewChatham/glassdoor-review-scraper/pull/27

[2019-11-27 13:37] #34 closed

[2019-11-27 13:38] #33 closed

[2019-11-27 16:32] sachinchaturvedi93 commented on #34
Hi @beliakon check out my forked repo
https://github.com/sachinchaturvedi93/glassdoor-review-scraper/

[2019-11-30 10:28] Amanprabhat opened #35 "Getting an error | No such element found | Please help with this"
Message: no such element: Unable to locate element: {"method":"css selector","selector":".eiReviews__EIReviewsPageContainerStyles__pagination.noTabover.mt"}

[2019-12-02 08:25] sachinchaturvedi93 commented on #35
https://github.com/sachinchaturvedi93/glassdoor-review-scraper

[2019-12-03 06:58] Amanprabhat commented on #35
Hi Sachin,

Thank you so much for the above help. I have used the same and it worked after tweaking this code a little. :)

[2019-12-16 09:16] sachinchaturvedi93 commented on #35
Welcome Aman!

[2020-01-13 06:49] Amanprabhat opened #36 "Cannot able to save the scrapped data in CSV file"

[2020-01-24 11:18] carlotorniai commented on #14
Hi all I've tried both suggestions and still the code breaks.
Any clue?
Traceback below:
Traceback (most recent call last):
  File "main.py", line 483, in <module>
    main()
  File "main.py", line 468, in main
    while more_pages() and\
  File "main.py", line 315, in more_pages
    paging_control = browser.find_element_by_css_selector('.eiReviews__EIReviewsPageContainerStyles__pagination.noTabov

[2020-01-24 11:25] carlotorniai commented on #14
Getting the latest code form MuhammadMehran pull request fixed the issue.

[2020-02-10 21:52] EdiLacic123 commented on #14
@carlotorniai Could you post the code by any chance? I have been trying to fix the same issue as well. Thanks

[2020-02-10 23:17] EdiLacic123 commented on #36
Hey, I have been trying to fix the code for a while and couldn't get it to work it seems your code is working. If you want to export your data to a CSV file, simply enter the following in your terminal;
-f FILE_NAME.CSV

[2020-02-11 08:24] carlotorniai commented on #14
@EdiLacic123 just grab the main.py, test.py and schema. py from this pull request: https://github.com/MatthewChatham/glassdoor-review-scraper/pull/37/files

[2020-02-19 21:39] fallguy commented on #35
@Amanprabhat What changes did you make?  Mind posting?

I'm still receiving the error below:

Unable to locate element: {"method":"css selector","selector":".common__EiReviewTextStyles__allowLineBreaks"}

[2020-04-09 22:40] yizhu-millie opened #39 "No Such Element Exception"
Hi, I've got the following error with the latest code and was wondering how to fix such problem.

2020-04-09 23:37:11,677 INFO 416    :main.py(27691) - Configuring browser
2020-04-09 23:37:18,237 INFO 458    :main.py(27691) - Scraping up to 25 reviews.
2020-04-09 23:37:18,269 INFO 395    :main.py(27691) - Signing in to #########.com
2020-04-09 23:37:34,673 INFO 375    :main.py(27691) - Navigating

[2020-04-09 23:08] hannez11 commented on #35
I have the same error with Matthew's current commit.

Same of the class selectors changed (e.g. to "v2__EIReviewDetailsV2__fullWidth", there might be some others that changed too)

However, sachinchaturvedi93 version is still working. Be aware that it only works for the English glassdoor page. Localized pages have other selectors, which do not work with this scraper

[2020-04-11 19:46] sachinchaturvedi93 commented on #39
Try this https://github.com/sachinchaturvedi93/glassdoor-review-scraper

[2020-04-14 22:12] yizhu-millie commented on #39
Thank you very much, the code is working.

One more question, when I was scraping a company with around 2000 reviews, I set the limit to be 3000 as I intended to include all the reviews, the code went through more than 10,000 pages without stopping even though there's no review on those pages.

If I did not set a limit, the code would stop pretty soon and left with only a dozen of reviews.

I was

[2020-04-25 17:52] csguzmanf commented on #39
Hello, I received the same error and when clone the second repository it  still gave me:

Franciscos-MacBook-Air:glassdoor-review-scraper kiko$ python3 main.py --headless --url "https://www.glassdoor.com/Overview/Working-at-Wells-Fargo-EI_IE8876.11,22.htm" --limit 1000 -f wells_fargo_reviews.csv
2020-04-25 18:40:18,833 INFO 366    :main.py(61155) - Configuring browser
2020-04-25 18:40:21,905 INFO

[2020-04-29 02:17] XiaoxuanMa opened #40 "--start_from_url NoSuchElementException"
Hi, I got the following error when trying to use the  **--start_from_url** function. I need help with this, thanks.

python main.py --headless --start_from_url --limit 999 --url "https://www.glassdoor.com/Reviews/Amazon-Reviews-E6036_P100.htm" -f Amazon_2008.csv
2020-04-28 22:03:27,057 INFO 367    :main.py(10156) - Configuring browser

DevTools listening on ws://127.0.0.1:51346/devtools/browser/bd

[2020-06-01 00:45] hannez11 commented on #40
def get_current_page():
    logger.info('Getting current page number')
    current = int(browser.find_element_by_class_name('pagination__PaginationStyle__current').text)
    return current

[2020-06-07 21:42] PrithiPal commented on #35
@Amanprabhat I suggest you to include keyword "eiReviews__EIReviewsPageContainerStyles__pagination" in the issue title to make it more searchable.

[2020-06-17 10:57] jenil4all commented on #39
Still the advice_to_mgmt & rating_overall fields not fetching data

[2020-07-02 19:03] supersylvia215 opened #43 "Error when running Example 1"
Hi I tried to run Example 1, but got error in below. Please help. Many thanks!

----
C:\Users\liusi\Desktop\glassdoor-review-scraper-master-matt>python main.py --headless --url "https://www.glassdoor.com/Overview/Working-at-W
ells-Fargo-EI_IE8876.11,22.htm" --limit 1000 -f wells_fargo_reviews.csv
2020-07-02 20:00:08,254 INFO 416    :main.py(6016) - Configuring browser

DevTools listening on ws://1

[2020-07-02 19:04] #43 closed

[2020-07-02 19:11] supersylvia215 opened #44 "Error when running Example 1. Please help!"
Hi, I tried to run example 1 but returned with error. Could you please help? Many thanks!
Please see below.

----
C:\Users\liusi\Desktop\glassdoor-review-scraper-master-matt>python main.py --headless --url "https://www.glassdoor.co.uk/Overview/Working-at-Well
s-Fargo-EI_IE8876.11,22.htm" --limit 1000 -f wells_fargo_reviews.csv
2020-07-02 20:08:41,025 INFO 416    :main.py(4100) - Configuring browse

[2020-07-08 09:58] JBQ71994 opened #45 "Getting a Syntax Error"
Hi, I'm trying to run your example but I have the following error:

  File "main.py", line 322
    logger.info(f'Extracting reviews from page {page[0]}')
                                                        ^
SyntaxError: invalid syntax

Do I need to change something in main.py in order to use it ?

Thanks for your work

[2020-07-08 10:12] #45 closed

[2020-09-01 07:57] Shivanandrai commented on #40
This works perfectly, thank you so much for this!

[2020-09-03 17:44] Shivanandrai commented on #39
Hi, to get rating_overall, this is the code that works.

def scrape_overall_rating(review):
        try:
            ratings = review.find_element_by_class_name('gdStars')
            ratings = ratings.find_element_by_class_name('common__StarStyles__gdStars')
            overall = ratings.find_element_by_class_name('rating')
            res = overall.get_attribute('title')
        except Exception

[2020-09-19 10:53] kingwongf commented on #44
Same issue here,

`
Traceback (most recent call last):
  File "main.py", line 500, in <module>
    main()
  File "main.py", line 462, in main
    sign_in()
  File "main.py", line 408, in sign_in
    submit_btn.click()
  File "/Users/kingf.wong/.conda/envs/FinanceML/lib/python3.7/site-packages/selenium/webdriver/remote/webelement.py", line 80, in click
    self._execute(Command.CLICK_ELEMENT)
  Fil

[2020-10-05 00:53] DustinTheGreat commented on #44
pretty sure predefining window size would fix it. Could you try adding the configurations, it should look similar to something like this. Let me know if this worked so I can make a pull request.

    chromeOptions: {
        args: ['headless', 'window-size=1920,1080']
    }

[2020-10-26 20:54] bartels50642 opened #46 "No Such Element Exception"
Hi All,

I'm trying to run this code as of Oct 2020, but I keep running into the "No Such Element Exception" error. Any help here would be **_GREATLY_** appreciated! Here is the error that runs:

-------------

2020-10-26 16:52:48,040 INFO 3    :<ipython-input-230-e9f0fa71abec>(21411) - Scraping up to 25 reviews.
2020-10-26 16:52:48,040 INFO 3    :<ipython-input-230-e9f0fa71abec>(21411) - Scraping

[2020-10-26 20:55] bartels50642 commented on #8
Hi, would you be able to scrap reviews for a specific company for me?

[2020-10-26 21:08] sachinchaturvedi93 commented on #46
https://github.com/sachinchaturvedi93/glassdoor-review-scraper

Try this out, I haven't updated this in a while though.  Let me know if I could help.

[2020-10-26 22:36] bartels50642 commented on #46
Hi Sachin,

Thanks for the speedy reply! I tried your code and it looks like part of it is working (Chrome opens, goes to Glassdoor, passes through login, and opens the "Premise Data Corporation" landing page) but I still get an error in python like this:

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".pagination__PaginationStyle__

[2020-10-26 22:41] sachinchaturvedi93 commented on #46
I guess the element isn't loading. Try again or try adding wait time.

[2020-10-27 02:05] bartels50642 commented on #46
Hrm okay, how would I go about adding wait time?

[2020-10-27 13:26] NKoenig06 commented on #8
If you look at the html layout of Glassdoor a lot has changed. I think this specific repo would need to be updated to accommodate the html changes to continue working.

[2020-10-27 17:00] bartels50642 commented on #8
Hi Nick,

I have gotten pretty far with the code with some minor tweaks, but after I run the "main" function I get a "No Such Element Exception" that looks like this:

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".pagination__PaginationStyle__page.pagination__PaginationStyle__current"}
  (Session info: chrome=86.0.4240.111)

I don

[2020-10-27 17:10] bartels50642 commented on #46
Should I change the "time.sleep(1)" to "time.sleep(500)" (or some other number that is greater?

[2020-11-19 22:32] bartels50642 opened #47 "Not pulling overall rating nor advice to management"
Hey everyone,

I was able to modify the code to get it working (woo!) but am still unable to pull 1) overall rating and 2) advice to management.
I've tried inspecting both elements on Glassdoor's page and updating the functions that pull both of those things, with no luck.

Does anyone have any suggestions or has figured out a work-around for this?

[2020-12-11 02:59] sophiesc opened #48 "NoSuchElementException"
It worked well until last week, but then it started showing the following nosuchelementexception for firms with more than 10 reviews (more than one page):
selenium.common.exceptions.NoSuchElementException:+Message:+no+such+element:+Unable+to+locate+element:+%7B%22method%22:%22css+selector%22,%22selector%22:%22.pagination__PaginationStyle__next%22%7D&ie=UTF-8&oe=UTF-8

I tried other codes that peop

[2020-12-12 00:14] spsingh559 commented on #39
I am also facing issue in advice_to_mgmt. Any help would be appreciated

[2020-12-12 22:06] elaynenh commented on #48
I had the same issue and couldn't figure out how to fix it--I tried messing with the class name passed into the get_current_page function to match what I saw in the browser, but it still couldn't recignize it--so I ended up just hardcoding the page number into the get_current_page function and running it once for each page I needed... luckily I only needed 20 reviews, so it didn't take long. I jus

[2020-12-18 07:17] D-Pavlov opened #49 "Cloudflare anti-bot protection"
Hi Matthew,
I tried to run your repo in a docker container on a AWS server but ran into Cloudflare protection (JS Challenge/Captcha).
Have you experienced anything similar? And if so, how did you deal with it or what would you recommend?

[2020-12-18 14:35] bartels50642 commented on #48
Hey sophiesc and elaynenh,

They must have changed their HTML code, because I had scraping code that was working perfectly up until about ~10 days ago. If anyone has a fix for this please let me know!

[2020-12-31 20:17] ankysri commented on #48
Its giving me cannot find element for 'username' so the script is not logging in

[2021-01-21 19:09] ct595479 opened #51 "Issues with subratings"
I noticed two issues with the results for subratings (work life balance, culture, comp, etc..).

1. Glassdoor added a new subrating category "diversity and inclusion" which is missing from the code.
2. There are numerous reviews which only contain ratings for a subset of the subratings categories. For instance a review might only provide ratings for comp & benefits and senior management. In the ou

[2021-03-01 23:44] hannez11 opened #52 "Glassdoor new UI design"
Hi,

apparently Glassdoor changed their website UI recently. If anyone already updated the class names for the several review categories, I would appreciate if you could share your adjustments to the scraper.

Many thanks

[2021-03-08 21:28] Cangelelli commented on #46
@bartels50642 Did you ever figure it out? I am having the same issue with the page-turner.

[2021-03-24 23:01] Cangelelli commented on #52
Would be greatly appreciated ^

[2021-04-06 13:58] Dora-Cordero commented on #52
Hey, has this been resolved yet?

[2021-04-14 16:00] ChrisAngelelli commented on #48
Hey, if you are still having this issue the "pagination__PaginationStyle__next" has been replaced with "pageContainer". You can review the source by inspecting the page element on the desired page.

[2021-05-25 08:05] chaoshengggg opened #53 "NoSuchElementException - {"method":"css selector","selector":"time"}"
![image](https://user-images.githubusercontent.com/57311200/119462108-f89ea500-bd72-11eb-9965-c14125e354b9.png)

Hey everyone, was just wondering if anyone has a fix for this problem?

[2021-05-31 16:56] rocnoa opened #54 "Credentials error despite passing them?"
I set up everything as per your instructions but since there is no example of the JSON file attached I am passing username and password with --username and --password. Note - the password contains special characters - "*" and "#". I still get this error:

Traceback (most recent call last):
  File "/Users/XXX/Documents/GitHub/glassdoor-review-scraper/main.py", line 88, in <module>
    with open('se

[2021-07-09 20:52] subhadipkumar opened #56 "no such element: Unable to locate element:"
![image](https://user-images.githubusercontent.com/68810939/125134766-86d5ad00-e0cd-11eb-8f62-48f5270f0227.png)

[2021-07-28 15:36] Drew-Smith-18 commented on #56
I am also seeing the same error, is anyone working on a fix?

[2021-08-08 22:10] Drew-Smith-18 opened #57 "The scraper seems to only pull the top 10 reviews regardless of how many pages it attempts to navigate to"
Does anyone know how to resolve this?

[2021-08-12 15:58] Drew-Smith-18 commented on #57
Found a solution, it is pretty hacky but...replace go_to_next_page(): with below and it will work

def go_to_next_page():
      logger.info(f'Going to page {page[0] + 1}')

      currentUrl = browser.current_url
      print(f'old url: {currentUrl}')

      currentUrl = currentUrl.split('.htm', 1)
      currentUrl = currentUrl[0].split('_')[0]
      currentUrl = [currentUrl]
      currentUrl.insert

[2021-09-07 06:32] JP-2000 opened #58 "NoSuchElementException - {"method":"css selector","selector":"time"}"

[2021-09-07 06:33] #58 closed, assigned to nobody

[2021-09-07 06:36] JP-2000 commented on #53
Same Issue here. Have you found any solution to resolve the issue?

[2021-10-25 02:42] roscoe777 commented on #57
@Drew-Smith-18 May I know if this scraper is still working? I tried example 1 but kept getting errors as below. The process stops at landing on the first reviews page. I would very appreciate it if you could give some instructions. Thank you!
![Screenshot 2021-10-24 215142](https://user-images.githubusercontent.com/93107666/138627741-f8cad8ca-3d59-4f90-a35c-60914c2c8426.png)

[2021-11-03 07:54] Punith96 commented on #56
Same here. Is there a way?

[2021-11-03 07:55] Punith96 commented on #53
Same here as well

[2021-11-03 07:57] Punith96 commented on #53
Exception has occurred: NoSuchElementException
Message: no such element: Unable to locate element: {"method":"css selector","selector":"time"}
  (Session info: chrome=95.0.4638.69)
Stacktrace:
Backtrace:
	Ordinal0 [0x00AC06F3+2492147]
	Ordinal0 [0x00A59BD1+2071505]
	Ordinal0 [0x00962478+1057912]
	Ordinal0 [0x0098C964+1231204]
	Ordinal0 [0x009834E1+1193185]
	Ordinal0 [0x009A57FA+1333242]
	Ordinal0

[2021-11-12 02:00] shay16144 opened #59 "Getting error of element click intercepted"
Can anyone give me some advice for sorting this error out
![webscra er scrshot](https://user-images.githubusercontent.com/84130713/141395876-929dde35-dddb-40ca-95b8-1583a6c4026f.png)
?

[2021-11-12 13:27] #59 closed, assigned to nobody

[2021-11-26 05:55] Shivani-Srivastava opened #60 "Does not recognize URL as an argument"
When I run the following command from the terminal on my Ubuntu 21.10 machine, it gives me the following error.

python3 main.py --headless --start_from_url "https://www.glassdoor.co.in/Reviews/insert-company-name" --limit 1000 -f glassdoor_reviews.csv

Is it possible that this is so because it's the Indian site?

The Wells-Fargo example command also gives me the following error

I've tried editin

[2021-12-11 04:04] audreyhe3211 commented on #56
Tried the code today and got the same issue

[2022-01-11 10:11] JenelleMorgan42 commented on #8
Hi @NKoenig06

I appreciate the tutorial you provided in your article posted online (https://nkoenig06.github.io/scrape-gd.html) on how to scrape online reviews. However, I am also encountering issues with the current repository that you linked. I think the specific issue is that Glassdoor keeps hitting with sign-up prompts, which  the script is unable to address. This sounds similar to the issue

[2022-02-05 12:48] glaupie commented on #56
Me too

[2022-02-05 13:17] glaupie commented on #53
I have the same issue - any ideas anyone?

[2022-02-08 05:34] harshu729 commented on #54
Create a txt file and add this content to it
{
  "username": "email_id",
  "password": "your_pass"
}
Then go to files and Save As JSON and rename the file to secret.

[2022-02-17 15:49] macintoshm commented on #56
I also got this issue.

[2022-04-13 19:20] ashiish23 opened #61 "Default decoder decode error"
File "C:\Users\ashii\main.py", line 88, in <module>
    d = json.loads(f.read())
  File "C:\Users\ashii\AppData\Local\Programs\Python\Python310\lib\json\__init__.py", line 346, in loads
    return _default_decoder.decode(s)
  File "C:\Users\ashii\AppData\Local\Programs\Python\Python310\lib\json\decoder.py", line 337, in decode
    obj, end = self.raw_decode(s, idx=_w(s, 0).end())
  File "C:\Users\

[2022-05-08 18:35] Nikitas1296 opened #62 "Issue with ChromeDriver"
Hello,
I'll start by saying I started learning python a couple of weeks ago, so this may be a very basic question.

I installed ChromeDriver, and put it in the same working directory as my ipynb file. However when I try to run the code in main.py, I keep getting this error:
"WebDriverException: Message: 'chromedriver' executable needs to be in PATH. Please see https://chromedriver.chromium.org/hom

[2022-09-09 15:36] 2k4rolla opened #64 "Scraper Utilization without Glassdoor Account?"
The code is setup to pull from an existing Glassdoor account, could it be modified to complete a scrape of reviews from any company site?